[Getting Started Developing with Python and DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.html)


- start  Local DynamoDB

```
$ cat start_dynamodb 
java -Djava.library.path=~/projects/aws-cert/dynamodb/DynamoDBLocal_lib -jar ~/projects/aws-cert/dynamodb/DynamoDBLocal.jar -sharedDb

export DYNAMO_ENDPOINT="http://localhost:8000"

```

- [A GUI for Local DynamoDBâ€” dynamodb-admin](https://medium.com/swlh/a-gui-for-local-dynamodb-dynamodb-admin-b16998323f8e)

```
$ sudo npm install -g npm
$ dynamodb-admin

dynamodb-admin listening on http://localhost:8001 
```

- Documentation
    - https://www.fernandomc.com/posts/ten-examples-of-getting-data-from-dynamodb-with-python-and-boto3/

In [9]:
from boto3.dynamodb.conditions import Key
from botocore.exceptions import ClientError

### [Step 1: Create a Table](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.01.html)

In [10]:
DYNAMO_ENDPOINT = "http://localhost:8000"

In [11]:
import boto3
# Get the service resource.
dynamodb = boto3.resource('dynamodb', endpoint_url=DYNAMO_ENDPOINT)

In [12]:
def create_movie_table(table_name='Movies', dynamodb=None):
    if not dynamodb:
        dynamodb = boto3.resource('dynamodb', endpoint_url=DYNAMO_ENDPOINT)
        
    try:
        table = dynamodb.Table(table_name)
        status = table.table_status
    except:

        # Error thrown when creating a pre-existing table
        # ResourceInUseException: An error occurred (ResourceInUseException) when calling the CreateTable operation: 
        # Cannot create preexisting table
        table = dynamodb.create_table(
            TableName=table_name,
            KeySchema=[
                {
                    'AttributeName': 'year',
                    'KeyType': 'HASH'  # Partition key
                },
                {
                    'AttributeName': 'title',
                    'KeyType': 'RANGE'  # Sort key
                }
            ],
            AttributeDefinitions=[
                {
                    'AttributeName': 'year',
                    'AttributeType': 'N'
                },
                {
                    'AttributeName': 'title',
                    'AttributeType': 'S'
                },

            ],
            ProvisionedThroughput={
                'ReadCapacityUnits': 5,
                'WriteCapacityUnits': 5
            }
        )
    return table

In [13]:
table = create_movie_table(table_name="Movies", dynamodb=dynamodb)
print("Table status:", table.table_status)

Table status: ACTIVE

### [Step 2: Load Sample Data](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.02.html)

In [31]:
from decimal import Decimal
import json

def load_movies(movies, dynamodb=None):
    if not dynamodb:
        dynamodb = boto3.resource('dynamodb', endpoint_url="http://localhost:8000")

    table = dynamodb.Table('Movies')
    with table.batch_writer() as batch:
        for movie in movies:
            year = int(movie['year'])
            title = movie['title']
            print("Adding movie:", year, title)
            batch.put_item(Item=movie)
        
with open("moviedata.json") as json_file:
    movie_list = json.load(json_file, parse_float=Decimal)
load_movies(movie_list)

len(movie_list)

### [Step 3: CRUD - Create, Read, Update, and Delete an Item](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.03.html)

given (pk,sk), one can create/update/delete/get item for that primary_key (pk,sk)

#### Step 3.1: Create a New Item  - put_item()

In [14]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import json
import decimal

# Helper class to convert a DynamoDB item to JSON.
class DecimalEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, decimal.Decimal):
            if abs(o) % 1 > 0:
                return float(o)
            else:
                return int(o)
        return super(DecimalEncoder, self).default(o)

# dynamodb = boto3.resource('dynamodb', region_name='us-west-2', endpoint_url="http://localhost:8000")

table = dynamodb.Table('Movies')

title = "The Big New Movie"
year = 2015

response = table.put_item(
   Item={
        'year': year,
        'title': title,
        'info': {
            'plot':"Nothing happens at all.",
            'rating': decimal.Decimal(0)
        }
    }
)

print("put_item succeeded:")
print(json.dumps(response, indent=4, cls=DecimalEncoder))

put_item succeeded:
{
    "ResponseMetadata": {
        "RequestId": "60f3bb40-3438-4dea-899b-0529fa157428",
        "HTTPStatusCode": 200,
        "HTTPHeaders": {
            "content-type": "application/x-amz-json-1.0",
            "x-amz-crc32": "2745614147",
            "x-amzn-requestid": "60f3bb40-3438-4dea-899b-0529fa157428",
            "content-length": "2",
            "server": "Jetty(8.1.12.v20130726)"
        },
        "RetryAttempts": 0
    }
}

creating the same New Item will not cause duplicate

In [17]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import json
import decimal

# Helper class to convert a DynamoDB item to JSON.
class DecimalEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, decimal.Decimal):
            if abs(o) % 1 > 0:
                return float(o)
            else:
                return int(o)
        return super(DecimalEncoder, self).default(o)

# dynamodb = boto3.resource('dynamodb', region_name='us-west-2', endpoint_url="http://localhost:8000")

table = dynamodb.Table('Movies')

title = "The Big New Movie"
year = 2015

response = table.put_item(
   Item={
        'year': year,
        'title': title,
        'info': {
            'plot':"Nothing happens at all.",
            'rating': decimal.Decimal(-10)
        }
    }
)

print("put_item succeeded:")
print(json.dumps(response, indent=4, cls=DecimalEncoder))

put_item succeeded:
{
    "ResponseMetadata": {
        "RequestId": "94fc1100-6783-41ca-89d4-ec62da03c45a",
        "HTTPStatusCode": 200,
        "HTTPHeaders": {
            "content-type": "application/x-amz-json-1.0",
            "x-amz-crc32": "2745614147",
            "x-amzn-requestid": "94fc1100-6783-41ca-89d4-ec62da03c45a",
            "content-length": "2",
            "server": "Jetty(8.1.12.v20130726)"
        },
        "RetryAttempts": 0
    }
}

#### Step 3.2: Read an Item - get_item()

In [7]:
table = dynamodb.Table('Movies')

In [8]:
table

dynamodb.Table(name='Movies')

In [6]:
title = "The Big New Movie"
year = 2015

try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    print("get_item succeeded:")
    print(json.dumps(item, indent=4, cls=DecimalEncoder))

Cannot do operations on a non-existent table

#### Step 3.3: Update an Item

`put_item()`  does `update_item()`

In [19]:
table = dynamodb.Table('Movies')

title = "The Big New Movie"
year = 2015
rating = 5.5
plot = "Everything happens all at once."
actors = ["Larry", "Moe", "Curly"]

try:
    response = table.update_item(
        Key={
            'year': year,
            'title': title
        },
        UpdateExpression="set info.rating=:r, info.plot=:p, info.actors=:a",
        ExpressionAttributeValues={
            ':r': decimal.Decimal(rating),
            ':p': plot,
            ':a': actors
        },
        ReturnValues="UPDATED_NEW"
    )
except ClientError as e:
    print(e.response['Error']['Message'])

In [51]:
response

{'Attributes': {'info': {'rating': Decimal('5.5'),
   'actors': ['Larry', 'Moe', 'Curly'],
   'plot': 'Everything happens all at once.'}},
 'ResponseMetadata': {'RequestId': 'f92ce558-7075-48e7-a6e4-8a4bdb6e9bef',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.0',
   'x-amz-crc32': '2682384945',
   'x-amzn-requestid': 'f92ce558-7075-48e7-a6e4-8a4bdb6e9bef',
   'content-length': '156',
   'server': 'Jetty(8.1.12.v20130726)'},
  'RetryAttempts': 0}}

In [20]:
title = "The Big New Movie"
year = 2015

try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    
item

{'title': 'The Big New Movie',
 'year': Decimal('2015'),
 'info': {'rating': Decimal('5.5'),
  'actors': ['Larry', 'Moe', 'Curly'],
  'plot': 'Everything happens all at once.'}}

#####  Update an Item conditionally

In [21]:
actor_count = 2
try:
    response = table.update_item(
        Key={
            'year': year,
            'title': title
        },
        UpdateExpression="remove info.actors[0]",
        ConditionExpression="size(info.actors) > :num",
        ExpressionAttributeValues={':num': actor_count},
        ReturnValues="UPDATED_NEW"
    )
except ClientError as e:
    if e.response['Error']['Code'] == "ConditionalCheckFailedException":
        print(e.response['Error']['Message'])
    else:
        raise

In [61]:
# update successful if actor_count < 3: "Larry" is removed
# The conditional request failed if actor_count >= 3

In [23]:
response

{'Attributes': {'info': {'rating': Decimal('5.5'),
   'actors': ['Moe', 'Curly'],
   'plot': 'Everything happens all at once.'}},
 'ResponseMetadata': {'RequestId': 'a68beaf6-c8df-4e24-ae79-2078add578b9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.0',
   'x-amz-crc32': '1320246852',
   'x-amzn-requestid': 'a68beaf6-c8df-4e24-ae79-2078add578b9',
   'content-length': '142',
   'server': 'Jetty(8.1.12.v20130726)'},
  'RetryAttempts': 0}}

#### Step 3.6: Delete an Item

In [64]:
year = 2013
title = "Prisoners"

In [65]:
try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    
item

{'title': 'Prisoners',
 'year': Decimal('2013'),
 'info': {'actors': ['Hugh Jackman', 'Jake Gyllenhaal', 'Viola Davis'],
  'release_date': '2013-08-30T00:00:00Z',
  'plot': "When Keller Dover's daughter and her friend go missing, he takes matters into his own hands as the police pursue multiple leads and the pressure mounts. But just how far will this desperate father go to protect his family?",
  'genres': ['Crime', 'Drama', 'Thriller'],
  'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_SX400_.jpg',
  'directors': ['Denis Villeneuve'],
  'rating': Decimal('8.2'),
  'rank': Decimal('3'),
  'running_time_secs': Decimal('9180')}}

In [68]:
try:
    response = table.delete_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    if e.response['Error']['Code'] == "ConditionalCheckFailedException":
        print(e.response['Error']['Message'])
    else:
        item = response['Item']

In [69]:
response

{'ConsumedCapacity': {'TableName': 'Movies', 'CapacityUnits': 1.0},
 'ResponseMetadata': {'RequestId': '1e393259-ea64-4015-a245-37f509b59b37',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.0',
   'x-amz-crc32': '2336287325',
   'x-amzn-requestid': '1e393259-ea64-4015-a245-37f509b59b37',
   'content-length': '63',
   'server': 'Jetty(8.1.12.v20130726)'},
  'RetryAttempts': 0}}

In [70]:
try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    
item

KeyError: 'Item'

##### Delete an Item conditionally

In [25]:
year = 2013
title = "The Hunger Games: Catching Fire"
rank = 5

In [26]:
try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    
item

{'title': 'The Hunger Games: Catching Fire',
 'year': Decimal('2013'),
 'info': {'actors': ['Jennifer Lawrence', 'Josh Hutcherson', 'Liam Hemsworth'],
  'release_date': '2013-11-11T00:00:00Z',
  'plot': 'Katniss Everdeen and Peeta Mellark become targets of the Capitol after their victory in the 74th Hunger Games sparks a rebellion in the Districts of Panem.',
  'genres': ['Action', 'Adventure', 'Sci-Fi', 'Thriller'],
  'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTAyMjQ3OTAxMzNeQTJeQWpwZ15BbWU4MDU0NzA1MzAx._V1_SX400_.jpg',
  'directors': ['Francis Lawrence'],
  'rank': Decimal('4'),
  'running_time_secs': Decimal('8760')}}

## avoid update/delete item using reserved keyword
https://intellipaat.com/community/17771/update-attribute-timestamp-reserved-word

In [27]:
try:
    response = table.delete_item(
        Key={
            'year': year,
            'title': title
        },
        ConditionExpression="info.#rnk <= :val",
        ExpressionAttributeValues={
            ":val": decimal.Decimal(rank)
        },
        ExpressionAttributeNames={
            "#rnk": "rank"
        }
    )
except ClientError as e:
    if e.response['Error']['Code'] == "ConditionalCheckFailedException":
        print(e.response['Error']['Message'])
    else:
        raise

In [28]:
try:
    response = table.get_item(
        Key={
            'year': year,
            'title': title
        }
    )
except ClientError as e:
    print(e.response['Error']['Message'])
else:
    item = response['Item']
    
item

KeyError: 'Item'

### [Step 4: Query and Scan the Data](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.04.html)


- [Working with Queries](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html)
    - begins_with
    - between
    - eq
    - gt 
    - gte
    - lt
    - lte
    - mro

#### Query - All Movies Released in a Year

In [48]:
year = 2009
table = dynamodb.Table('Movies')
response = table.query(
    # KeyConditionExpression=Key('year').eq(year) & Key('title').begins_with('H')
    # KeyConditionExpression=Key('year').eq(year) & Key('title').gt('H')
    KeyConditionExpression=Key('year').eq(year) & Key('title').between('B', 'D')
)

In [49]:
response

{'Items': [{'title': 'Bakjwi',
   'year': Decimal('2009'),
   'info': {'actors': ['Kang-ho Song', 'Ok-bin Kim', 'Hae-suk Kim'],
    'release_date': '2009-04-30T00:00:00Z',
    'plot': 'Through a failed medical experiment, a priest is stricken with vampirism and is forced to abandon his ascetic ways.',
    'genres': ['Drama', 'Horror', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BNDgwODY0MjM3OV5BMl5BanBnXkFtZTcwNzk3MTY2Mg@@._V1_SX400_.jpg',
    'directors': ['Chan-wook Park'],
    'rating': Decimal('7.1'),
    'rank': Decimal('3837'),
    'running_time_secs': Decimal('7980')}},
  {'title': 'Bandslam',
   'year': Decimal('2009'),
   'info': {'actors': ['Aly Michalka', 'Vanessa Hudgens', 'Gaelan Connell'],
    'release_date': '2009-08-06T00:00:00Z',
    'plot': 'A new kid in town assembles a fledgling rock band -- together, they achieve their dreams and compete against the best in the biggest event of the year, a battle of the bands.',
    'genres': ['Comedy', 'Drama', 'Family', 'Music', 'Romance'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTg0MDI4MTIzMV5BMl5BanBnXkFtZTcwMDU5MjI2Mg@@._V1_SX400_.jpg',
    'directors': ['Todd Graff'],
    'rating': Decimal('6.3'),
    'rank': Decimal('4644'),
    'running_time_secs': Decimal('6660')}},
  {'title': 'Banlieue 13 - Ultimatum',
   'year': Decimal('2009'),
   'info': {'actors': ['Cyril Raffaelli', 'David Belle', 'Philippe Torreton'],
    'release_date': '2009-02-18T00:00:00Z',
    'plot': "Damien and Leito return to District 13 on a mission to bring peace to the troubled sector that is controlled by five different gang bosses, before the city's secret services take drastic measures to solve the problem.",
    'genres': ['Action', 'Crime', 'Sci-Fi', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTUyNjY5MDU4MF5BMl5BanBnXkFtZTcwNDAzNzEwMw@@._V1_SX400_.jpg',
    'directors': ['Patrick Alessandrin'],
    'rating': Decimal('6.4'),
    'rank': Decimal('3288'),
    'running_time_secs': Decimal('6060')}},
  {'title': 'Bitch Slap',
   'year': Decimal('2009'),
   'info': {'actors': ['Julia Voth', 'Erin Cummings', 'America Olivo'],
    'release_date': '2009-09-14T00:00:00Z',
    'plot': 'Three bad girls travel to a remote desert hideaway to steal $200 million in diamonds from a ruthless underworld kingpin.',
    'genres': ['Action', 'Comedy', 'Crime', 'Drama', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTk0OTAzOTY2NF5BMl5BanBnXkFtZTcwMzcwMzM4MQ@@._V1_SX400_.jpg',
    'directors': ['Rick Jacobson'],
    'rating': Decimal('4.4'),
    'rank': Decimal('3181'),
    'running_time_secs': Decimal('6540')}},
  {'title': 'Black Dynamite',
   'year': Decimal('2009'),
   'info': {'actors': ['Arsenio Hall', 'Tommy Davidson', 'Phyllis Applegate'],
    'release_date': '2009-01-18T00:00:00Z',
    'plot': "Black Dynamite is the greatest African-American action star of the 1970s. When his only brother is killed by The Man it's up to him to find justice.",
    'genres': ['Action', 'Comedy'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTExNzUxNDU4NTReQTJeQWpwZ15BbWU3MDc5MDEzNjM@._V1_SX400_.jpg',
    'directors': ['Scott Sanders'],
    'rating': Decimal('7.2'),
    'rank': Decimal('3572'),
    'running_time_secs': Decimal('5040')}},
  {'title': 'Blood and Bone',
   'year': Decimal('2009'),
   'info': {'actors': ['Michael Jai White', 'Julian Sands', 'Eamonn Walker'],
    'release_date': '2009-09-15T00:00:00Z',
    'plot': 'In Los Angeles, an ex-con takes the underground fighting world by storm in his quest to fulfill a promise to a dead friend.',
    'genres': ['Action', 'Drama'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BNjE0MDc4ODY4Ml5BMl5BanBnXkFtZTcwNDI2NjM4Mg@@._V1_SX400_.jpg',
    'directors': ['Ben Ramsey'],
    'rating': Decimal('6.6'),
    'rank': Decimal('2783'),
    'running_time_secs': Decimal('5580')}},
  {'title': 'Bride Wars',
   'year': Decimal('2009'),
   'info': {'actors': ['Kate Hudson', 'Anne Hathaway', 'Candice Bergen'],
    'release_date': '2009-01-05T00:00:00Z',
    'plot': 'Two best friends become rivals when they schedule their respective weddings on the same day.',
    'genres': ['Comedy', 'Romance'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTA2MjU3NjQ3NzReQTJeQWpwZ15BbWU3MDEyNzE4OTE@._V1_SX400_.jpg',
    'directors': ['Gary Winick'],
    'rating': Decimal('5.1'),
    'rank': Decimal('1810'),
    'running_time_secs': Decimal('5340')}},
  {'title': 'Bright Star',
   'year': Decimal('2009'),
   'info': {'actors': ['Abbie Cornish', 'Ben Whishaw', 'Paul Schneider'],
    'release_date': '2009-05-15T00:00:00Z',
    'plot': 'The three-year romance between 19th century poet John Keats and Fanny Brawne.',
    'genres': ['Biography', 'Drama', 'Romance'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTg0NjEwNDgxNF5BMl5BanBnXkFtZTcwMjkyOTM3Mg@@._V1_SX400_.jpg',
    'directors': ['Jane Campion'],
    'rating': Decimal('6.9'),
    'rank': Decimal('2571'),
    'running_time_secs': Decimal('7140')}},
  {'title': "Brooklyn's Finest",
   'year': Decimal('2009'),
   'info': {'actors': ['Richard Gere', 'Don Cheadle', 'Ethan Hawke'],
    'release_date': '2009-01-16T00:00:00Z',
    'plot': 'Three unconnected Brooklyn cops wind up at the same deadly location after enduring vastly different career paths.',
    'genres': ['Crime', 'Drama', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTUyMTI5MTY5MV5BMl5BanBnXkFtZTcwNzAyOTMwMw@@._V1_SX400_.jpg',
    'directors': ['Antoine Fuqua'],
    'rating': Decimal('6.7'),
    'rank': Decimal('2296'),
    'running_time_secs': Decimal('7920')}},
  {'title': 'Brothers',
   'year': Decimal('2009'),
   'info': {'actors': ['Jake Gyllenhaal', 'Natalie Portman', 'Tobey Maguire'],
    'release_date': '2009-12-03T00:00:00Z',
    'plot': "A young man comforts his older brother's wife and children after he goes missing in Afghanistan.",
    'genres': ['Drama', 'Thriller', 'War'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTkyMTY5MTcxOV5BMl5BanBnXkFtZTcwMTI3MDE3Mg@@._V1_SX400_.jpg',
    'directors': ['Jim Sheridan'],
    'rating': Decimal('7.1'),
    'rank': Decimal('1020'),
    'running_time_secs': Decimal('6300')}},
  {'title': 'Bruno',
   'year': Decimal('2009'),
   'info': {'actors': ['Sacha Baron Cohen',
     'Gustaf Hammarsten',
     'Clifford Banagale'],
    'release_date': '2009-06-25T00:00:00Z',
    'plot': 'Flamboyant Austrian fashionista Bruno takes his show to America.',
    'genres': ['Comedy'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTUwNDIwNDE5MV5BMl5BanBnXkFtZTcwMDA2MzA1Mg@@._V1_SX400_.jpg',
    'directors': ['Larry Charles'],
    'rating': Decimal('5.9'),
    'rank': Decimal('2115'),
    'running_time_secs': Decimal('4860')}},
  {'title': 'Carriers',
   'year': Decimal('2009'),
   'info': {'actors': ['Chris Pine', 'Piper Perabo', 'Lou Taylor Pucci'],
    'release_date': '2009-08-18T00:00:00Z',
    'plot': 'Four friends fleeing a viral pandemic soon learn they are more dangerous than any virus.',
    'genres': ['Drama', 'Horror', 'Sci-Fi', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTYwOTcxMzYxMl5BMl5BanBnXkFtZTcwODQyODQ3Mg@@._V1_SX400_.jpg',
    'directors': ['David Pastor', 'Alex Pastor'],
    'rating': Decimal('6'),
    'rank': Decimal('2911'),
    'running_time_secs': Decimal('5040')}},
  {'title': 'Case 39',
   'year': Decimal('2009'),
   'info': {'actors': ['Renee Zellweger', 'Ian McShane', 'Jodelle Ferland'],
    'release_date': '2009-08-13T00:00:00Z',
    'plot': 'A social worker fights to save a girl from her abusive parents, only to discover that the situation is more dangerous than she ever expected.',
    'genres': ['Horror', 'Mystery', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BNTA4NDUyOTE5NV5BMl5BanBnXkFtZTcwOTQ3NzY3Mw@@._V1_SX400_.jpg',
    'directors': ['Christian Alvart'],
    'rating': Decimal('6'),
    'rank': Decimal('1967'),
    'running_time_secs': Decimal('6540')}},
  {'title': 'Celda 211',
   'year': Decimal('2009'),
   'info': {'actors': ['Luis Tosar', 'Alberto Ammann', 'Antonio Resines'],
    'release_date': '2009-09-04T00:00:00Z',
    'plot': 'The story of two men on different sides of a prison riot -- the inmate leading the rebellion and the young guard trapped in the revolt, who poses as a prisoner in a desperate attempt to survive the ordeal.',
    'genres': ['Action', 'Drama', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTU5NTQ2NTMyMV5BMl5BanBnXkFtZTcwNzA0MTcyOQ@@._V1_SX400_.jpg',
    'directors': ['Daniel Monzon'],
    'rating': Decimal('7.6'),
    'rank': Decimal('2864'),
    'running_time_secs': Decimal('6780')}},
  {'title': 'Cherrybomb',
   'year': Decimal('2009'),
   'info': {'actors': ['Rupert Grint', 'Robert Sheehan', 'James Nesbitt'],
    'release_date': '2009-02-08T00:00:00Z',
    'plot': 'Three teenagers go on a wild weekend of drink, drugs, shop-lifting and stealing cars that quickly spins beyond their control.',
    'genres': ['Drama', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTM4MTE1NDQ5M15BMl5BanBnXkFtZTcwMjEwOTM0Mg@@._V1_SX400_.jpg',
    'directors': ["Lisa Barros D'Sa", 'Glenn Leyburn'],
    'rating': Decimal('5.9'),
    'rank': Decimal('4685'),
    'running_time_secs': Decimal('5160')}},
  {'title': "Cirque du Freak: The Vampire's Assistant",
   'year': Decimal('2009'),
   'info': {'actors': ['Chris Massoglia', 'John C. Reilly', 'Salma Hayek'],
    'release_date': '2009-10-22T00:00:00Z',
    'plot': 'Teenager, Darren Shan, meets a mysterious man at a freak show who turns out to be a Vampire. After a series of events Darren must leave his normal life and go on the road with the Cirque Du Freak and become a Vampire.',
    'genres': ['Action', 'Adventure', 'Fantasy', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTI1NDA1MTMwNl5BMl5BanBnXkFtZTcwNTg0MDE4Mg@@._V1_SX400_.jpg',
    'directors': ['Paul Weitz'],
    'rating': Decimal('5.9'),
    'rank': Decimal('1335'),
    'running_time_secs': Decimal('6540')}},
  {'title': 'City Island',
   'year': Decimal('2009'),
   'info': {'actors': ['Andy Garcia', 'Julianna Margulies', 'Steven Strait'],
    'release_date': '2009-03-23T00:00:00Z',
    'genres': ['Comedy', 'Drama'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTM1MTY2Mjk0Nl5BMl5BanBnXkFtZTcwMDYxODkxMw@@._V1_SX400_.jpg',
    'directors': ['Raymond De Felitta'],
    'rating': Decimal('7.3'),
    'rank': Decimal('3619'),
    'running_time_secs': Decimal('6240')}},
  {'title': 'Cloudy with a Chance of Meatballs',
   'year': Decimal('2009'),
   'info': {'actors': ['Anna Faris', 'Bill Hader', 'Bruce Campbell'],
    'release_date': '2009-09-16T00:00:00Z',
    'plot': "The most delicious event since macaroni met cheese. Inspired by the beloved children's book, the film focuses on a town where food falls from the sky like rain.",
    'genres': ['Animation', 'Comedy', 'Family', 'Fantasy'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTg0MjAwNDI5MV5BMl5BanBnXkFtZTcwODkyMzg2Mg@@._V1_SX400_.jpg',
    'directors': ['Phil Lord', 'Chris Miller'],
    'rating': Decimal('7'),
    'rank': Decimal('153'),
    'running_time_secs': Decimal('5400')}},
  {'title': 'Coco avant Chanel',
   'year': Decimal('2009'),
   'info': {'actors': ['Audrey Tautou',
     'Benoit Poelvoorde',
     'Alessandro Nivola'],
    'release_date': '2009-04-22T00:00:00Z',
    'plot': "The story of Coco Chanel's rise from obscure beginnings to the heights of the fashion world.",
    'genres': ['Biography', 'Drama'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTA0NjYzMzQxNzBeQTJeQWpwZ15BbWU3MDI2MDA0ODI@._V1_SX400_.jpg',
    'directors': ['Anne Fontaine'],
    'rating': Decimal('6.5'),
    'rank': Decimal('3716'),
    'running_time_secs': Decimal('6300')}},
  {'title': 'Confessions of a Shopaholic',
   'year': Decimal('2009'),
   'info': {'actors': ['Isla Fisher', 'Hugh Dancy', 'Krysten Ritter'],
    'release_date': '2009-02-05T00:00:00Z',
    'plot': 'A college grad lands a job as a financial journalist in New York City to support where she nurtures her shopping addiction and falls for a wealthy entrepreneur.',
    'genres': ['Comedy', 'Romance'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTQ1MzcyMTkwOF5BMl5BanBnXkFtZTcwMDM3MTc5MQ@@._V1_SX400_.jpg',
    'directors': ['P.J. Hogan'],
    'rating': Decimal('5.6'),
    'rank': Decimal('1953'),
    'running_time_secs': Decimal('6240')}},
  {'title': 'Coraline',
   'year': Decimal('2009'),
   'info': {'actors': ['Dakota Fanning', 'Teri Hatcher', 'John Hodgman'],
    'release_date': '2009-02-05T00:00:00Z',
    'plot': 'An adventurous girl finds another world that is a strangely idealized version of her frustrating home, but it has sinister secrets.',
    'genres': ['Animation', 'Fantasy', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMzQxNjM5NzkxNV5BMl5BanBnXkFtZTcwMzg5NDMwMg@@._V1_SX400_.jpg',
    'directors': ['Henry Selick'],
    'rating': Decimal('7.6'),
    'rank': Decimal('1047'),
    'running_time_secs': Decimal('6000')}},
  {'title': 'Couples Retreat',
   'year': Decimal('2009'),
   'info': {'actors': ['Vince Vaughn', 'Malin Akerman', 'Jon Favreau'],
    'release_date': '2009-10-08T00:00:00Z',
    'plot': "A comedy centered around four couples who settle into a tropical-island resort for a vacation. While one of the couples is there to work on the marriage, the others fail to realize that participation in the resort's therapy sessions is not optional.",
    'genres': ['Comedy'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTQxMjI1Nzc0M15BMl5BanBnXkFtZTcwMTc0Mzg2Mg@@._V1_SX400_.jpg',
    'directors': ['Peter Billingsley'],
    'rating': Decimal('5.4'),
    'rank': Decimal('252'),
    'running_time_secs': Decimal('6780')}},
  {'title': 'Cracks',
   'year': Decimal('2009'),
   'info': {'actors': ['Eva Green', 'Juno Temple', 'Maria Valverde'],
    'release_date': '2009-09-11T00:00:00Z',
    'plot': 'A look at the lives and relationships among girls at an elite boarding school.',
    'genres': ['Drama', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTMwNTEzODc2NF5BMl5BanBnXkFtZTcwOTQ0MTU2NA@@._V1_SX400_.jpg',
    'directors': ['Jordan Scott'],
    'rating': Decimal('6.5'),
    'rank': Decimal('3482'),
    'running_time_secs': Decimal('6240')}},
  {'title': 'Crank: High Voltage',
   'year': Decimal('2009'),
   'info': {'actors': ['Jason Statham', 'Amy Smart', 'Clifton Collins Jr.'],
    'release_date': '2009-04-16T00:00:00Z',
    'plot': 'Chelios faces a Chinese mobster who has stolen his nearly indestructible heart and replaced it with a battery-powered ticker that requires regular jolts of electricity to keep working.',
    'genres': ['Action', 'Comedy', 'Crime', 'Thriller'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTQzNTU1ODkxNl5BMl5BanBnXkFtZTcwMDgyODEzMg@@._V1_SX400_.jpg',
    'directors': ['Mark Neveldine', 'Brian Taylor'],
    'rating': Decimal('6.1'),
    'rank': Decimal('1855'),
    'running_time_secs': Decimal('5760')}},
  {'title': 'Crazy Heart',
   'year': Decimal('2009'),
   'info': {'actors': ['Jeff Bridges', 'Maggie Gyllenhaal', 'Colin Farrell'],
    'release_date': '2009-12-06T00:00:00Z',
    'plot': 'A faded country music musician is forced to reassess his dysfunctional life during a doomed romance that also inspires him.',
    'genres': ['Drama', 'Music', 'Romance'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMTU0NDc5NjgzNl5BMl5BanBnXkFtZTcwNzc0NDIzMw@@._V1_SX400_.jpg',
    'directors': ['Scott Cooper'],
    'rating': Decimal('7.3'),
    'rank': Decimal('2644'),
    'running_time_secs': Decimal('6720')}},
  {'title': 'Creation',
   'year': Decimal('2009'),
   'info': {'actors': ['Paul Bettany', 'Jennifer Connelly', 'Ian Kelly'],
    'release_date': '2009-09-10T00:00:00Z',
    'plot': 'English naturalist Charles Darwin struggles to find a balance between his revolutionary theories on evolution and the relationship with religious wife, whose faith contradicts his work.',
    'genres': ['Drama', 'Biography'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMjAwMjgxMDUwNl5BMl5BanBnXkFtZTcwMjM3ODAxMw@@._V1_SX400_.jpg',
    'directors': ['Jon Amiel'],
    'rating': Decimal('6.6'),
    'rank': Decimal('4847'),
    'running_time_secs': Decimal('6480')}},
  {'title': 'Crossing Over',
   'year': Decimal('2009'),
   'info': {'actors': ['Harrison Ford', 'Ashley Judd', 'Ray Liotta'],
    'release_date': '2009-02-26T00:00:00Z',
    'genres': ['Drama'],
    'image_url': 'http://ia.media-imdb.com/images/M/MV5BMjAyMDQ3ODU4NV5BMl5BanBnXkFtZTcwNzU2MTAzMg@@._V1_SX400_.jpg',
    'directors': ['Wayne Kramer'],
    'rating': Decimal('6.7'),
    'rank': Decimal('2502'),
    'running_time_secs': Decimal('6780')}}],
 'Count': 27,
 'ScannedCount': 27,
 'ResponseMetadata': {'RequestId': 'fdb5a76a-7d60-4a68-a97b-4eec6ef4579b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.0',
   'x-amz-crc32': '3314946402',
   'x-amzn-requestid': 'fdb5a76a-7d60-4a68-a97b-4eec6ef4579b',
   'content-length': '17179',
   'server': 'Jetty(8.1.12.v20130726)'},
  'RetryAttempts': 0}}

In [50]:
len(response['Items'])

27

In [51]:
titles = [i['title'] for i in response['Items']]
titles

['Bakjwi',
 'Bandslam',
 'Banlieue 13 - Ultimatum',
 'Bitch Slap',
 'Black Dynamite',
 'Blood and Bone',
 'Bride Wars',
 'Bright Star',
 "Brooklyn's Finest",
 'Brothers',
 'Bruno',
 'Carriers',
 'Case 39',
 'Celda 211',
 'Cherrybomb',
 "Cirque du Freak: The Vampire's Assistant",
 'City Island',
 'Cloudy with a Chance of Meatballs',
 'Coco avant Chanel',
 'Confessions of a Shopaholic',
 'Coraline',
 'Couples Retreat',
 'Cracks',
 'Crank: High Voltage',
 'Crazy Heart',
 'Creation',
 'Crossing Over']

#### Query - All Movies Released in a Year with Certain Titles

In [52]:
year = 1992
title_range = ('B', 'E')

# Expression attribute names can only reference items in the projection expression.
# year is a reserved word, use ExpressionAttributeNames to remap it
response = table.query(
    ProjectionExpression="#yr, title, info.genres, info.actors[0]",
    ExpressionAttributeNames={"#yr": "year"},
    KeyConditionExpression=
        Key('year').eq(year) & Key('title').between(title_range[0], title_range[1])
)

In [84]:
response['Items']

[{'title': 'A Few Good Men',
  'year': Decimal('1992'),
  'info': {'actors': ['Tom Cruise'],
   'genres': ['Crime', 'Drama', 'Mystery', 'Thriller']}},
 {'title': 'A League of Their Own',
  'year': Decimal('1992'),
  'info': {'actors': ['Tom Hanks'], 'genres': ['Comedy', 'Drama', 'Sport']}},
 {'title': 'A River Runs Through It',
  'year': Decimal('1992'),
  'info': {'actors': ['Craig Sheffer'], 'genres': ['Drama']}},
 {'title': 'Aladdin',
  'year': Decimal('1992'),
  'info': {'actors': ['Scott Weinger'],
   'genres': ['Animation',
    'Adventure',
    'Comedy',
    'Family',
    'Fantasy',
    'Musical',
    'Romance']}},
 {'title': 'Alien 3',
  'year': Decimal('1992'),
  'info': {'actors': ['Sigourney Weaver'],
   'genres': ['Action', 'Sci-Fi', 'Thriller']}},
 {'title': 'Army of Darkness',
  'year': Decimal('1992'),
  'info': {'actors': ['Bruce Campbell'],
   'genres': ['Comedy', 'Fantasy', 'Horror']}},
 {'title': 'Batman Returns',
  'year': Decimal('1992'),
  'info': {'actors': ['Michael Keaton'], 'genres': ['Action', 'Fantasy']}},
 {'title': 'Beethoven',
  'year': Decimal('1992'),
  'info': {'actors': ['Charles Grodin'],
   'genres': ['Comedy', 'Drama', 'Family']}},
 {'title': 'Bitter Moon',
  'year': Decimal('1992'),
  'info': {'actors': ['Hugh Grant'],
   'genres': ['Drama', 'Romance', 'Thriller']}},
 {'title': 'Boomerang',
  'year': Decimal('1992'),
  'info': {'actors': ['Eddie Murphy'],
   'genres': ['Comedy', 'Drama', 'Romance']}},
 {'title': 'Braindead',
  'year': Decimal('1992'),
  'info': {'actors': ['Timothy Balme'], 'genres': ['Comedy', 'Horror']}},
 {'title': 'Buffy the Vampire Slayer',
  'year': Decimal('1992'),
  'info': {'actors': ['Kristy Swanson'],
   'genres': ['Action', 'Comedy', 'Fantasy', 'Horror']}},
 {'title': 'Candyman',
  'year': Decimal('1992'),
  'info': {'actors': ['Virginia Madsen'], 'genres': ['Horror']}},
 {'title': 'Captain Ron',
  'year': Decimal('1992'),
  'info': {'actors': ['Kurt Russell'], 'genres': ['Adventure', 'Comedy']}},
 {'title': 'Chaplin',
  'year': Decimal('1992'),
  'info': {'actors': ['Robert Downey Jr.'], 'genres': ['Biography', 'Drama']}},
 {'title': 'Como agua para chocolate',
  'year': Decimal('1992'),
  'info': {'actors': ['Marco Leonardi'], 'genres': ['Drama', 'Romance']}},
 {'title': 'Damage',
  'year': Decimal('1992'),
  'info': {'actors': ['Jeremy Irons'], 'genres': ['Drama', 'Romance']}},
 {'title': 'Death Becomes Her',
  'year': Decimal('1992'),
  'info': {'actors': ['Meryl Streep'], 'genres': ['Comedy', 'Fantasy']}},
 {'title': 'El mariachi',
  'year': Decimal('1992'),
  'info': {'actors': ['Carlos Gallardo'],
   'genres': ['Action', 'Crime', 'Drama', 'Thriller']}},
 {'title': 'Encino Man',
  'year': Decimal('1992'),
  'info': {'actors': ['Sean Astin'], 'genres': ['Comedy', 'Fantasy']}},
 {'title': 'Far and Away',
  'year': Decimal('1992'),
  'info': {'actors': ['Tom Cruise'],
   'genres': ['Adventure', 'Drama', 'Romance', 'Western']}},
 {'title': 'FernGully: The Last Rainforest',
  'year': Decimal('1992'),
  'info': {'actors': ['Samantha Mathis'],
   'genres': ['Animation', 'Adventure', 'Family', 'Fantasy', 'Thriller']}},
 {'title': 'Forever Young',
  'year': Decimal('1992'),
  'info': {'actors': ['Mel Gibson'],
   'genres': ['Drama', 'Romance', 'Sci-Fi']}},
 {'title': 'Glengarry Glen Ross',
  'year': Decimal('1992'),
  'info': {'actors': ['Al Pacino'], 'genres': ['Drama']}},
 {'title': 'Home Alone 2: Lost in New York',
  'year': Decimal('1992'),
  'info': {'actors': ['Macaulay Culkin'],
   'genres': ['Adventure', 'Comedy', 'Crime', 'Family']}},
 {'title': 'Howards End',
  'year': Decimal('1992'),
  'info': {'actors': ['Anthony Hopkins'], 'genres': ['Drama', 'Romance']}},
 {'title': 'Jennifer Eight',
  'year': Decimal('1992'),
  'info': {'actors': ['Andy Garcia'],
   'genres': ['Crime', 'Drama', 'Mystery', 'Thriller']}},
 {'title': 'Juice',
  'year': Decimal('1992'),
  'info': {'actors': ['Omar Epps'], 'genres': ['Crime', 'Drama', 'Thriller']}}]

In [54]:
titles = [i['title'] for i in response['Items']]
titles

['Batman Returns',
 'Beethoven',
 'Bitter Moon',
 'Boomerang',
 'Braindead',
 'Buffy the Vampire Slayer',
 'Candyman',
 'Captain Ron',
 'Chaplin',
 'Como agua para chocolate',
 'Damage',
 'Death Becomes Her']

#### Scan with pagination

In [55]:
year_range = (1950, 1955)
scan_kwargs = {
    'FilterExpression': Key('year').between(*year_range),
    'ProjectionExpression': "#yr, title, info.rating",
    'ExpressionAttributeNames': {"#yr": "year"}
}

In [56]:
done = False
start_key = None
movies = []
ipage = 0
while not done:
    ipage += 1
    print(f"ipage = {ipage}")
    if start_key:
        scan_kwargs['ExclusiveStartKey'] = start_key
    response = table.scan(**scan_kwargs)
    movies.extend(response.get('Items', []))
    start_key = response.get('LastEvaluatedKey', None)
    done = start_key is None

ipage = 1
ipage = 2

In [57]:
len(movies), movies

(38,
 [{'title': 'High Noon',
   'year': Decimal('1952'),
   'info': {'rating': Decimal('8.2')}},
  {'title': "Singin' in the Rain",
   'year': Decimal('1952'),
   'info': {'rating': Decimal('8.4')}},
  {'title': 'The Member of the Wedding',
   'year': Decimal('1952'),
   'info': {'rating': Decimal('6.8')}},
  {'title': 'The Quiet Man',
   'year': Decimal('1952'),
   'info': {'rating': Decimal('7.8')}},
  {'title': '20000 Leagues Under the Sea',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('7.1')}},
  {'title': 'Black Widow',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('6.7')}},
  {'title': 'Dial M for Murder',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('8.1')}},
  {'title': 'On the Waterfront',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('8.3')}},
  {'title': 'Rear Window',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('8.6')}},
  {'title': 'Seven Brides for Seven Brothers',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('7.2')}},
  {'title': 'Shichinin no samurai',
   'year': Decimal('1954'),
   'info': {'rating': Decimal('8.8')}},
  {'title': 'A Streetcar Named Desire',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('8')}},
  {'title': 'Alice in Wonderland',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('7.4')}},
  {'title': 'An American in Paris',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('7.2')}},
  {'title': 'Operation Pacific',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('6.5')}},
  {'title': 'Storm Warning',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('7')}},
  {'title': 'Strangers on a Train',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('8.2')}},
  {'title': 'The African Queen',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('8')}},
  {'title': 'The Day the Earth Stood Still',
   'year': Decimal('1951'),
   'info': {'rating': Decimal('7.9')}},
  {'title': 'East of Eden',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('8')}},
  {'title': 'Lady and the Tramp',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('7.4')}},
  {'title': 'Les diaboliques',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('8.2')}},
  {'title': 'Rebel Without a Cause',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('7.8')}},
  {'title': 'The Night of the Hunter',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('8.1')}},
  {'title': 'The Seven Year Itch',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('7.2')}},
  {'title': 'To Catch a Thief',
   'year': Decimal('1955'),
   'info': {'rating': Decimal('7.5')}},
  {'title': 'From Here to Eternity',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('7.8')}},
  {'title': 'How to Marry a Millionaire',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('6.8')}},
  {'title': 'Peter Pan',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('7.3')}},
  {'title': 'Roman Holiday',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('8.1')}},
  {'title': 'Shane',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('7.7')}},
  {'title': 'The War of the Worlds',
   'year': Decimal('1953'),
   'info': {'rating': Decimal('7.1')}},
  {'title': 'All About Eve',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('8.4')}},
  {'title': 'Cinderella',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('7.3')}},
  {'title': 'Harvey',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('8')}},
  {'title': 'Rashomon',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('8.4')}},
  {'title': 'Sunset Blvd.',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('8.6')}},
  {'title': 'Tea for Two',
   'year': Decimal('1950'),
   'info': {'rating': Decimal('6.4')}}])